<body class="headings-bold">
  <div class="page">
    <div class="background-white brand-bar brand-bar-white">
      <div class="container">
        <div class="ucb-brand-bar ucb-brand-bar-white"><a href="https://www.colorado.edu" class="ucb-home-link"><img
              class="ucb-logo"
              src="https://cdn.colorado.edu/static/brand-assets/live/images/cu-boulder-logo-text-black.svg"
              alt="University of Colorado Boulder" /></a></div>
      </div>
    </div>
    <header class="ucb black" role="banner">
      <div class="container">
        <a routerLink="">Room Booking Administration</a>
      </div>
    </header>
    <div class="background-color-gray-dark">
      <div class="container">
        <nav role="navigation" class="ucb-navbar ucb-navbar-dark text-minify">
          <label for="show-main-menu" class="show-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="element-invisible">Menu</span>
          </label>
          <input type="checkbox" id="show-main-menu" role="button">
          <ul>
            <li><a routerLink="" class="active">
                <mat-icon>home</mat-icon>
              </a></li>
            <li style="font-weight: 600; font-size: 15px;"><a routerLink="" style=" padding-top: 14px;">Home</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="background-white padding-large-top padding-large-bottom">
      <router-outlet></router-outlet>


    </div>
  </div>
</body>
