<div class="container">
  <div style="float: right">
    <button mat-raised-button style=" margin-bottom: 10px;" (click)="openNewDeviceDialog()">
      <mat-icon>add</mat-icon>
      New Device
    </button>
  </div>
  <div style="clear: both;"></div>
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef style="width: 5%"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
          </ng-container>

          <ng-container matColumnDef="unique_id">
            <th mat-header-cell *matHeaderCellDef style="width: 26%"> Unique ID </th>
            <td mat-cell *matCellDef="let element">
              {{element.name}} <br>
              <br>{{element.unique_id}}<br>
              <button mat-stroked-button (click)="copyId(element.unique_id)">{{copyText}}</button>

            </td>
          </ng-container>

          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef style="width: 30%"> Note </th>
            <td mat-cell *matCellDef="let element" style="vertical-align: top;"> {{element.note}} </td>
          </ng-container>

          <ng-container matColumnDef="configuration" style="width: 20%">
            <th mat-header-cell *matHeaderCellDef> Configuration </th>
            <td mat-cell *matCellDef="let element" style="vertical-align: top;">
              Location ID : <strong>{{element.location_id}}</strong><br>
              Hours View ID : <strong>{{element.hours_view_id}}</strong><br>
              Category ID : <strong>{{ element. category_id}}</strong><br>
              Space (Room) ID: <strong>{{ element.space_id}}</strong><br>


            </td>
          </ng-container>
          <ng-container matColumnDef="latest_update">
            <th mat-header-cell *matHeaderCellDef style="width: 9%"> Latest Update </th>
            <td mat-cell *matCellDef="let element" style="vertical-align: top;"> {{element.latest_update}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="width: 4%"> Active </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle [checked]=element.active (click)="onUpdateStatus(element)"></mat-slide-toggle>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 1%"> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="onEdit(element)" style="color: green">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onDelete(element._id)" style="color: #bb3535">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="dataSource.data.length === 0" style="padding: 10px; font-size: 14px; text-align: center;">No
          records found</div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

</div>
